.logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: $text-secondary;
    background-color: $bg-secondary;
    letter-spacing: 0.3ch;
    width: 100%;

    .logo-text{
        width: 100%;
        font-size: 1.5rem;
    }

    svg{
        transform: rotate(0);
        transition: transform $transition-speed;
    }
}

.navbar-nav{
    &:hover{
        .logo{
            svg{
                transform: rotate(-180deg);
            }
        }
    }
}